In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('HR_comma_sep.csv')
df.sample(30)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
8594,0.91,0.61,3,262,3,0,0,0,technical,low
7916,0.70,0.57,4,265,2,0,0,0,support,medium
3496,0.77,0.70,3,155,3,0,0,0,IT,medium
13070,0.73,0.69,3,228,2,0,0,1,sales,medium
8541,0.50,0.84,3,259,2,0,0,0,product_mng,high
6301,0.84,0.56,5,97,6,0,0,0,technical,low
10102,0.55,0.54,3,190,3,0,0,0,sales,low
5087,0.54,0.93,5,189,2,0,0,0,support,medium
6218,0.65,0.76,3,111,5,0,0,0,technical,medium
4663,0.63,0.56,5,286,4,0,0,0,marketing,medium
11964,0.82,0.80,5,205,3,0,0,0,IT,low
7779,0.71,0.96,3,201,3,0,0,0,RandD,low
13109,0.88,0.85,3,220,3,0,0,0,management,medium
957,0.39,0.57,2,133,3,0,1,0,technical,medium
7033,0.68,0.61,3,134,4,0,0,0,sales,medium
13344,0.62,0.84,3,270,6,0,0,0,hr,medium
14436,0.90,0.97,4,258,5,0,1,0,accounting,low
14875,0.36,0.49,2,147,3,0,1,0,marketing,low
621,0.10,0.86,6,247,4,0,1,0,sales,medium
9597,0.41,0.50,6,257,6,1,0,0,support,low
11919,0.66,0.49,5,235,8,1,0,0,sales,low
10982,0.88,0.82,3,265,3,0,0,0,product_mng,medium
4940,0.99,0.71,4,232,3,0,0,0,support,medium
12160,0.10,0.95,7,301,4,0,1,0,marketing,low
6359,0.69,0.69,4,195,2,0,0,0,sales,medium
6107,0.62,0.92,3,228,2,0,0,0,sales,low
4927,0.67,0.58,3,246,3,0,0,0,technical,medium
5803,0.74,0.67,4,158,3,0,0,0,sales,low
9972,0.59,0.59,4,244,3,0,0,0,support,medium
8814,0.20,0.59,5,105,4,0,0,0,technical,high

In [3]:
# check for missing values

df.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

There are no missing values in the data

### Statistical summary

In [13]:
# statistical summary of numerical data

df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

#### Satisfaction level
- The mean satisfaction level is 0.6 whereas the minimum is very low around 0.09.
- The range is satisfaction level in the lower 25 percentile is high as compared to others.
- Some of the employee have satisfaction level of 1.\

**Make a departmental satisfaction level column where satisfaction level are on per department basis**. 

#### Last_evaluation
- Currently not aware what this evaluation is about. Have to do more analysis to comne up to a conclusion for this column.

#### Number_project
- Do not know if this tells about the total number of projects or the no. of projects done concurrently.
- The median value is 4 projects. The lower 50 percentile works on 4 projects at max and the uppaer ranges till 7.
- On an average around 4 projects are done by the employees.

#### Average monthly hours
- The mean monthly hours is around 200.
- The minimum is 96 which is less than even the half of the average. (These employees are highly underworked).
- Some employees in the company are working more than 250 hours. The above 25 percent are those category.(These are highly overworked).
- There are some employees who are even working morte than 300 hours in the company. (These are pushed to their limit). Averaging around 12 hours in a working month of 25 days.

#### time_spend_company
- The average time spend in the company is around 3.5 years.
- The minimum time spend is 2 years. (No freshers currently in the company)
- Around half of the employees are fairly new and have spend around 3 or less years in the company.
- The above 25% are the old employees and have spent around 4 or more years in the company.
- There are some employees that have 10 years of experience in the company. (**Maybe joined from the very start of the company or would be at high positions in the comapny.**).

#### Work_accident:
Around 14.5% of employees have faced work related accidents in the company.

#### Left
Around 24% of the employees have left the company (**Might be having lower satisfaction level or faced work related accidents**).

#### Promotion_last_5years:
Around 21% of the employees have got promotion in last_5_years. (**Might be experienced employees or have good performance and might have performed good in the last evaluation and been considered for promotion**)

In [12]:
300/25

12.0

In [5]:
# statistical summary of categorical columns

df.describe(include='object')

       Department salary
count       14999  14999
unique         10      3
top         sales    low
freq         4140   7316